<%- include("partials/header") %>


  <header>
    <a href="/">Post it! </a>
    <a href="/show">Memes</a>
    <a href="mailto:kartikmnc@gmail.com">Contact</a>
  </header>
  
  <% if(memes.length !== null){ %>
    
      <% memes.forEach(function(q){ %>
      <div class="container">
        <img class="container__image" src=<%= q["url"]  %> >
        <div class="container__text"> 
          <p><b>Name: </b><%= q["name"] %></p>
          <p><b>Caption: </b><%= q["caption"] %></p>
          <a href="show/<%= q.id %>" class="btn btn-sm-primary">Read More</a>
          <a href="update/<%= q.id %>" class="btn btn-sm-primary">Edit</a>
        
      </div>
      </div>
    <% }) %>
    
  <% } %>
  <% if(error !== null){ %>
  <p><%= error %></p>
  <% } %>



<%- include("partials/footer") %>



